input, select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=button] {
    margin-top: 1rem;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: #45a049;
}

.login-text{
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.titulo{
    font-size: 1.6rem;
}

.label{
    font-size: 1rem;
}

.contenedor{
    display: flex;
    justify-content: center;
    padding-top: 10vh;
}

.login {
    width: 60rem;
    border-radius: 5px;
    background-color: #f2f2f280;
    padding: 20px;
}
